{% extends 'base.html' %}

{% block content %}
<main>
  <div>
    <h1>{{ todo_list }}</h1>
    <p><a href="{% url 'todo_list_update' todo_list.id %}">Edit</a></p>
    <p><a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a></p>
    <h2>Tasks</h2>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Due date</th>
        </tr>
      </thead>
      <tbody>
        {% for todo_item in todo_list.items.all %}
          <tr>
            <td><a href="{% url 'todo_item_update' todo_item.id %}">{{ todo_item.task }}</a></td>
            <td>{{ todo_item.due_date|date:"M j, Y" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main> 
{% endblock %}